# API Sunucusunun Adresi (örn: http://localhost:8000 veya https://api.sunucu.com)
VITE_API_URL=http://localhost:8000

# Discord OAuth Yönlendirme Adresi (Dashboard'un login sayfası)
VITE_DISCORD_REDIRECT_URI=http://localhost:5173/login
